*
!.gitingore
!.gitmodules
!subprojects
!subprojects/packagefiles
!subprojects/packagefiles/**
!subprojects/*.wrap
!CHANGELOG.md
!LICENSE.txt
!README.md
!meson.build
!src
!src/**
!examples
!examples/*
!docs
!docs/*
!.clang-format
!meson_options.txt
